nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(87, 106, 232);
  padding: 10px 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-barra {
  list-style: none;

  padding: 0 60px;
  position: relative;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
  left: 600px;
}

.link-barra:hover {
  color: rgb(59, 222, 228);
}

.link-barra:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: aquamarine;
  position: absolute;
  bottom: -0.3rem;
  left: 20px;
}
